@model UserManagment.Web.Areas.UserControlArea.Models.UserViewModel

@{
    ViewBag.Title = "UserDetails";
    ViewBag.PageMessage = "User Info Details";
}

<div class="modal-content">
    <div class="user_form">
        <ul>
            <li>
                <h2>@ViewBag.PageMessage</h2>
                <span class="required_notification">* Denotes Required Field</span>
            </li>
            <li>
                 @Html.HiddenFor(x => x.Id, "Value")
                <label for="name">Name:*</label>
                <input id="name" type="text" placeholder="Your Name" value="@Model.UserName" required/>
            </li>
            <li>
                <label for="email">Email:*</label>
                <input type="email" name="email" value="@Model.Email" placeholder="email@example.com" pattern="[a-z0-9!#$%&'+/=?^_`{|}~.-]+&#64;[a-z0-9-]+(\.[a-z0-9-]+)" required />
                <span class="form_hint">Proper format "name@something.com"</span>
            </li>
            <li>
                <label for="skypelogin">Skype Login:</label>
                <input type="text" name="skypelogin" value="@Model.SkypeLogin" placeholder="login.login" pattern="[a-zA-Z][a-zA-Z0-9_\-\,\.]{5,31}" />
                <span class="form_hint">Proper format "login.login or login"</span>
            </li>
            <li>
                <label for="login">Your Login:</label>
                <input type="text" name="login" value="@Model.Login" placeholder="login" pattern="\w{5,20}" />
                <span class="form_hint">Proper format "*****(5-20 symbols)"</span>
            </li>
            <li>
                @Html.Label("Avatar", new { @class = "control-label col-md-2" })
                <div class="form-group">
                    
                    <input type="file" id="uploader" name="upload" multiple />
                    <img src="/Avatars/@Model.Avatar" width="150" id="profile-avatar" alt="Image for Profile">
                </div>
            </li>
            <li>
                <div style="display: inline-flex">
                    <a class="button" href="@Url.Action("GetAll")">Go to list</a>
                    <a class="btn btn-danger"  href="@Url.Action("Delete")/@Model.Id">Delete</a>
                </div>
             </li>
        </ul>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/avatar")
    <script type="text/javascript">

        $(function() {
            Object.observe(window.app.Avatar.settings, function (changes) {
                console.log(changes[0]);
                if (changes[0].name === "filename") {
                    var formdata = new FormData(); //FormData object
                    var fileInput = document.getElementById('uploader');
                    //Iterating through each files selected in fileInput
                    for (i = 0; i < fileInput.files.length; i++) {
                        //Appending each file to FormData object
                        formdata.append(fileInput.files[i].name, fileInput.files[i]);
                    }
                    //Creating an XMLHttpRequest and sending
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', "/UserControlArea/User/UpdateAvatar/@Model.Id");
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            //alert(xhr.responseText);
                            $("#uploader").addClass("avaupdated");
                        }
                    }
                }
            });
        });
    </script>
}